body{
  width: 1920px;
  height: 1080px;
}

.player-box{
  width: 300px;
  height: 100px;
}

.active-box{
  width: 280px;
  height: 200px;
}

.timer-box{
  background-color: #FF0000;
  width: 330px;
  height: 200px;
}

.progress{
	
	background: #000000;
}
.progress-done-r{
	background: linear-gradient(to left,#FFFFFF,#FF0000);
}

.progress-done-b{
	background: linear-gradient(to right,#FFFFFF,#FF0000);
}

.progress-done-active{
	background: #FF0000;
}

.blue-score{

}
	
.map-box{
  width: 380px;
  height: 300px;
  position: relative;
}

.player{
  position: absolute;
  width: 10px;
  height: 10px;
}

.bg-blue-team{
  background-color: #FFFFFF; 
}

.bg-orange-team{
  background-color: #FFFFFF; 
}