body{
  width: 1920px;
  height: 1080px;
  font-family: "Futura XBlk BT";
}

.player-box{
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 350px;
  height: 50px;
  background-color: black !important;
  color: #FFFFFF !important;
  display: block;
}

.player-box.blue {
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
}

.player-box.orange {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.active-box{
  width: 280px;
  height: 200px;
  visibility: hidden;
}

.player-name-orange{
  align-items: start;
  margin-left: 50px;
  position: relative;
  overflow: auto;
  font-size: 20px;
}

.player-name-blue{
  align-items: start;
  position: relative;
  margin-left: 20%;
  overflow: auto;
  font-size: 20px;
  margin-bottom: 0;
}

.timer-box{
  background-color: #FF0000;
  width: 330px;
  height: 200px;
}

.progress{
	background: #000000;
    position: relative;
    width: auto;
   height: auto;
}

.progress-done-r{
	background: #FF0000;
    clip-path: polygon(9% 0%, 100% 0%, 91% 100%, 0% 100%);
}

.progress-done-b{
	background: #2861ff;
    clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 9% 100%);
}

.progress-done-active{
	background: #FF0000;
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.progress-bar-custom {
  height: 30px;
  width: auto;
}

.map-box{
  width: 380px;
  height: 300px;
  position: relative;
}

.player{
  position: absolute;
  width: 10px;
  height: 10px;
}

.hidden{
  visibility: hidden !important;
}

.boost-container{

  width: 35%;
  height: 100%;
  float: left;
  text-align: center;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%,0% 100%);
  background-color: #2861ff;
  justify-content: center;
}

.boost-amount {
  color: #ffffff;
  font-size: 25px;
  vertical-align: center;
  line-height: 50px;


}



